<div class="row">
	<div class="col-md-6">
		<a [routerLink]="['/user/'+id]" href="#" class="btn btn-link">
			<i class="fa fa-arrow-circle-o-left"></i>返回详情
		</a>
	</div>
	<div class="col-md-6">
		<!-- 自行设计 -->
	</div>
</div>

<div class="card">
	<div class="card-header">
		编辑用户
	</div>
	<div class="card-block">
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="name">姓名</label>
				<input 
					type="text"
					class="form-control"
					[(ngModel)]="user.name"
					name="name"
					minlength="2"
					required 
				/>
			</div>

			<div class="form-group">
				<label for="email">邮箱</label>
				<input 
					type="text"
					class="form-control"
					[(ngModel)]="user.email"
					name="email"
					minlength="2"
					required 
				/>
			</div>

			<div class="form-group">
				<label for="phone">手机</label>
				<input 
					type="text"
					class="form-control"
					[(ngModel)]="user.phone"
					name="phone"
					minlength="11"
					required 
				/>
			</div>

			<div class="form-group">
				<label for="balance">收支</label>
				<input 
					type="text"
					class="form-control"
					[(ngModel)]="user.balance"
					name="balance"
					[disabled]="disableBalanceOnEdit"
				/>
			</div>

			<input type="submit" value="确认" class="btn btn-primary btn-block">
		</form>
	</div>
</div>