<div class="row">
	<div class="col-md-12 col-lg-12">
		<div class="card">
			<div class="card-block">
				<img class="mx-auto d-block" src="/assets/img/logo.png" alt="">
				<h1 class="text-center">注册</h1>
				<form (submit)="onSubmit()">
					<div class="form-group">
						<label for="email">邮箱</label>
						<input type="email" class="form-control" [(ngModel)]="email" name="email" required />
					</div>

					<div class="form-group">
						<label for="password">密码</label>
						<input type="password" class="form-control" [(ngModel)]="password" name="password" required />
					</div>

					<input type="submit" value="注册" class="btn btn-primary btn-block">
				</form>
			</div>
		</div>
	</div>
</div>
